.text {
      
    color: tomato;
    background: teal;
}

.contanier {

    width: 100%;
    height: 160vh;
    background-image: url(../utlis/react-logo-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: center;
    border: 2px solide red;
    rotate: 270deg;
}